<!-- footer -->
<footer class="container-fluid" id="footer">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1 text-center">
			<h2>
				Contact Us
			</h2>
			<p class="explanation">
				Let's start the conversation and see where it takes us.
			</p>
			<img src="{{ "/images/starbucks-coffee.png" | relative_url }}" alt="coffee">
				<p>
					(415) 699-5346
				</p>
				<p>
					<a href="mailto:support@gofastdev.com">support@gofastdev.com</a>
				</p>
			<p class="small">
				&copy; 2017 GofastDev | Website Design by David Roualdes
			</p>
		</div>
	</div>
</footer>
