<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>

	<link rel="canonical" href="http://www.gofastdev.com">

	<!-- Typekit Fonts for GofastDev -->
	<link rel="stylesheet" href="https://use.typekit.net/vlq5sff.css

	<!-- CSS & Bootstrap -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ "/node_modules/bootstrap/dist/css/bootstrap.min.css | relative_url }}">
	<link rel="stylesheet" href="{{ "/css/styles.css" | relative_url }}">

	<!-- Fontawesome JavaScript-->
	<link rel="stylesheet" href="{{ "/node_modules/@/fontawesome-pro/css/all.min.css" | relative_url }}">

	<!-- JQuery JavaScript-->
	<script src="{{ "/node_modules/jquery/dist/jquery.min.js" | relative_url }}"></script>

	<!-- AnimateScoll JavaScript-->
	<script src="{{ "/node_modules/animatescroll.js/animatescroll.min.js" | relative_url }}"></script>

	<!-- Bootstrap JavaScript: Needs to load last or else mobile menu fails! -->
	<script src="{{ "/node_modules/bootstrap/dist/js/bootstrap.min.js" | relative_url }}"></script>

    {% if page.url == 'blog/index.html' %}

    {% else %}

	<!-- Addthis JavaScript -->
    <script>var addthis_config = {"data_track_addressbar":true};</script>
	<script src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5847862a8dafb6df"></script>

    {% endif %}

</head>
