---
layout: default
---
<article class="container blog" id="blog">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h2>Case Studies</h2>
			<p>
				Check out our some of the previous work we've done for our clients.
			</p>
			<ul class="blog-ul">
				{% for post in site.categories.casestudies %}
				{% if post.url %}
				<li>
					<a href="{{ post.url | relative_url }}">
						{{ post.title }}
					</a>
					<br>
					<span class="date">
					{{ post.date | date: '%B %d, %Y' }}
					</span>
				</li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
</article>
